

{% extends "layout.html" %}
{% block title %}Order Confirmation{% endblock %}

<!-- content -->
{% block content %}
<div class="container-fluid">
    <div class="h2">Order Confirmation</div>
    <div  style=" text-shadow:rgb(51, 255, 20) 1px 0 5px;" class="h4">Thanks for Shopping with us!</div>
    <div  style=" text-shadow:rgb(255, 20, 20) 1px 0 5px;" class="h3">Happy Holidays & Merry Chistmas!</div>
    <table class="table text-light bg-dark">
        <thead>
            <th>Order ID</th>
            <th>Total Price</th>
            <th>Total Items</th>
        </thead>
        <tbody>
            <tr>
                <td>{{order.order_id}}</td>
                <td>{{order.total}}</td>
                <td>{{order.quantity}}</td>
            </tr>
        </tbody>
    </table>
    <table class="table text-light bg-dark">
        <thread>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
        </thread>
        <tbody>
            {% set ns = namespace(total=0) %}
            {% for row in rows %}
            <tr>
                <td>{{row["name"]}}</td>
                <td style="width:10em">
                    {{row["quantity"]}}
                </td>
                <td>{{row['subtotal']}}</td>
                {# https://stackoverflow.com/a/51880609 #}
                {% set ns.total = ns.total + row['subtotal'] %}
            </tr>
            {% endfor %}
            <tr>
                <td class="text-end" colspan="100%">
                    Grand Total: {{ns.total or 0}}
                </td>
            </tr>
            <tr>
                <td class="text-end" colspan="100%">
                    Money Received: {{order.money_received}}
                </td>
            </tr>
            <tr>
                <td class="text-end" colspan="100%">
                    Balance: {{0}}
                </td>
            </tr>
            <tr>
                <td class="text-start" colspan="100%">
                    Payment method: {{order.payment_method}}
                </td>
            </tr>
            <tr>
                <td class="text-start" colspan="100%">
                    Shiiping Address: {{order.address}}
                </td>
            </tr>
            
        </tbody>
    </table>
</div>
{% endblock %}